<h1>Listing comms</h1>

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comms.each do |comm| %>
  <tr>
    <td><%= comm.content %></td>
    <td><%= link_to 'Show', comm %></td>
    <td><%= link_to 'Edit', edit_comm_path(comm) %></td>
    <td><%= link_to 'Destroy', comm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comm', new_comm_path %>
