<h1>Listing posts</h1>
<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Votes</th>
  </tr>

  <% @posts.each do |post| %>

      <tr>
        <td><%= post.title%></td>


         <% user = User.find(post.user_id)  %>
        <td><%= user.unityid %></td>
        <td><%= link_to 'Show', post %></td>
        <% if(post.user_id == session[:id1])%>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% else %>
            <td></td>
            <td></td>
            <%post_vote=PostVote.find(:all, :conditions=>{:post_id=>post.id,:user_id=> session[:id1]})%>
            <%if !post_vote.empty? %>
            <td><%=button_to 'DownVote',:action => 'subtract_vote', :id2 => post.id  %></td>
                <% else %>
                <td><%=button_to 'UpVote',:action => 'add_vote', :id => post.id  %></td>
                <% end %>
            <td><%=post.votes%></td>
        <% end %>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>